@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #121212;
  max-width: 1440px;
  margin: 0 auto;
}

.colorPri {
  color: #F1D926;
}

.colorSec {
  color: #FF00E6;  
}

.colorReg {
  color: white;  
}

.colorTer {
  color: #BD00FF;  
}



/* entire background */
.bg {
  height: auto;
  min-height: unset;
  background-color: #F5FAFD;
  background-position: center center;
  background-size: auto;
  background-image: url(../img/backgroungImage.jpg);
  background-attachment: fixed;
  background-repeat: repeat;
}

.bg2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;

  height: auto;
  min-height: unset;
  background-color: #F5FAFD;
  background-position: center center;
  background-size: auto;
  background-image: url(../img/bg2.jpg);
  background-repeat: no-repeat;
}

.bgnews {
  height: auto;
  min-height: unset;
  background-position: center center;
  background-size: auto;
  background-image: url(../img/backgroungImage.jpg);
  background-attachment: fixed;
  background-repeat: repeat;
  
  background-color: rgba(6, 4, 62);
  margin: 0px 10%;
}

/* navigation links */

ul.colibri-menu {  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(6, 4, 62);
  border: 2px solid rgba(255, 0, 230, 0.6);
  border-radius: 40px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  
  list-style: none;
  width: 100%;
  margin: 0px;
  text-align: center;
  min-height: 40px;
  padding: 5px 40px;
}

li a {
  text-decoration: none;
  font-family: 'Poppins';
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  margin: 0px; 
  padding: 10px 10px; 
}


.navigation {  
  animation-duration: 0.5s;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
  background-color: #121212;
  background-image: none;  
  transition-duration: 0.5s;  
  display: flex;  
  vertical-align: middle;  
  justify-content: center;
}

.logo {  
  max-width: 180px;
  min-height: auto;
  display: inline-block;
  width: auto;
}

.logoContent {
  max-width: 300px;
  min-height: auto;
  display: inline-block;
  width: auto;
}

.btnNav {  
  max-width: 130px;
  min-height: auto;
  display: inline-block;
  width: auto;
}

.alignment { 
  display: flex;  
  vertical-align: middle;  
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
}

.alignment2 { 
  display: flex;  
  vertical-align: middle;  
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
  padding-left: 10%;
}


.mtb20 {
  margin: 20px 0px !important;
}
.mtb10 {
  margin: 10px 0px !important;
}
/* burger icon */


#nav-icon {
  z-index: 10000000;
  position: absolute;
  right: 20px;
  top: 20px;
  height: 0px;
  width: 25px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#nav-icon span {
  height: 3px;
  width: 80%;
  border-radius: 9px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  background-color: #fff;
}
#nav-icon span:nth-child(1) {
  top: 23px;
}
#nav-icon span:nth-child(2) {
  top: 30px;
}
#nav-icon span:nth-child(3) {
  top: 37px;
}
#nav-icon.open span:nth-child(1) {
  top: 25px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
#nav-icon.open span:nth-child(3) {
  top: 25px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


#nav-icon span, .thumbimg {
  display: block;
}

#nav-icon, .down, .visible-md, .visible-lg {
  display: none;
}

#nav-icon span, .topnav li > a:after, .mask, .cover {
  position: absolute;
}

.topnav a.active {
  font-weight: bold;
  color: #FF00E6;  
}


@media screen and (max-width: 1080px) {  
  .navigation {
    display: block;
  }

  #nav-icon, .visible-lg {
    
    position: absolute;
    display: block;
  }
  .navigationlinks {
    position: absolute;
    right: 100%; 
    top: 120px;
    width: 85%;
    height: 100%;
    transition: left 0.3s ease-in-out; 
    animation-duration: 0.5s;
    padding: 20px 0px;
    background-color: rgba(18, 18, 18, 0.97);
    background-image: none;  
    transition-duration: 0.5s;  
    display: block;  
    justify-content: center;
  }
  .alignment { 
    margin: 0px;
  }

  /* hamburger menu active */
  .navigationlinks.active {
    right: 0; 
  }
  .scroll_fix {
    overflow: hidden;
  }
  

  ul.colibri-menu {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    list-style: none;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 0px;
    background-color: transparent;
  }
  

  ul.colibri-menu li {
    width: 100%; 
    margin: 5px 0; 
  }
  
  ul.colibri-menu li a {
    display: block; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-align: left;
    padding-left: 50px;
  }
  

}


/* sections */
/* dual compartment */


.dualCompartmentContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 80px 0px;
  margin: 0px;
}

.dualCompartment {
  display: flex;
  flex-wrap: nowrap;
  padding: 0px 0px;
  margin: 0px;

}

.dualCompartmentContainerContents {
  flex: 1;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box; 
}

.dualCompartmentContainerContentsPostioningRight {
  justify-content: flex-end; /* Align content to the right */
  text-align: right; /* Align text to the right */
  margin-right: 20px !important;
}

.dualCompartmentContainerContentsPostioningLeft {
  justify-content: flex-start; /* Align content to the left */
  text-align: left; /* Align text to the left */  
  margin-left: 20px !important;
}

.dualCompartmentContainerContentsPostioningCenter {
  justify-content: center; /* Center content horizontally */
  text-align: center; /* Center text */
}

.dualCompartmentContentsWidth {
  max-width: 400px !important;
}

.img_fit {
  width: 100%;
  height: auto;
}
.inlineBlocked {
    position: relative;
    text-align: center; /* Centers the text horizontally */
    display: inline-block; /* Keeps the image and text together */

}
.cardGridborderTopRad {
  border: solid;
  border: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* single compartment */

.singleCompartmentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 80px 0px;
  margin: 0px;
}

.singleCompartmentContainerContents {
  display: flex;
  justify-content: center;
  flex-direction: column; 
  align-items: center;
  width: 840px;
  max-width: 100%;
  text-align: center;
}

.singleCompartmentContentsWidth {
  display: flex;
  max-width: 450px !important;

}

@media (max-width: 767px) { 
  .alignment2 { 
    padding-left: 0px;
  }
  /* dual compartment */

  .dualCompartmentContainer {
    flex-direction: column;
  }

  .dualCompartment {
    flex-direction: column;
  }

  .firstContent {
    order: 1;
  }

  .secondContent {
    order: 2;
  }

  .dualCompartmentContainerContentsPostioningRight {
    justify-content: center;
    text-align: center;
  }
  
  .dualCompartmentContainerContentsPostioningLeft {
    justify-content: center;
    text-align: center;
  }

  .dualCompartmentContainerContents {
    padding: 0px 20px;
  }

  .singleCompartmentContainerContents {
    padding: 0px 20px;
  }
}



/* dual compartment stacked layout*/
.dualCompartmentContainerStackedLayout {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  padding: 80px 0px;
  margin: 0px;
  text-align: center;
  box-sizing: border-box;
}


.dualCompartmentContainerStackedLayoutContents {
  padding: 20px !important;
  width: 1200px;
  max-width: 100%;
}

.dualCompartmentStackedLayout {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  padding: 0px 0px;
  margin: 0px;
  text-align: center;
  box-sizing: border-box;
}

.dualCompartmentStackedLayout2 {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: left; /* Center items horizontally */
  padding: 0px 0px;
  margin: 0px;
  text-align: left;
  box-sizing: border-box;
}

/* Card Grid Container */
/* Grid Container */
.dualCompartmentContainerCardGrid {
  display: flex; /* Default is row, so flex-direction: row; is implied */
  justify-content: center; /* Center items horizontally within the child container */
  align-items: center; /* Center items vertically within the child container */
  gap: 10px; /* Add spacing between items */
  flex-wrap: nowrap; /* Prevent items from wrapping to the next line */
  box-sizing: border-box;
}

/* Card Styles */
.dualCompartmentContainerCardGridStyles {
  width: 100%; /* Full width of the parent container */
  max-width: 535px; /* Max width for each card */
  text-align: center; /* Center text inside cards */
  padding: 5px;
  height: auto;
  min-height: unset;
  background-color: rgba(32, 32, 32, 0.7);
}

.dualCompartmentContainerCardGridStyles2 {
  width: 100%; /* Full width of the parent container */
  max-width: 535px; /* Max width for each card */
  text-align: center; /* Center text inside cards */
  border: solid;
  border: 0px;
  border-radius: 10px;
  padding: 0px 0px 20px 0px;
  height: auto;
  min-height: unset;
  background-color: rgba(0, 0, 0, 0.9);

  box-shadow: 0px 1px 3px 2px rgba(189, 189, 189, 0.4);
}

.CTACardGrid {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center content horizontally within the container */
  align-items: center; /* Center content vertically within the container */
  text-align: center;
  width: 100%;
  max-width: 600px;
  padding: 45px 20px;
  height: auto;
  min-height: unset;
}

.CTACard {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center content horizontally within the container */
  flex-wrap: nowrap;
  align-items: center; /* Center content vertically within the container */
  text-align: center;
  width: 100%;
  max-width: 1100px;
  padding: 45px 20px;
  height: auto;
  min-height: unset;
  gap: 20px;

}

.CTACardGridContentsWidth {
  max-width: 145px !important;
}

.CTACardContentsWidth {
  width: 1500px;
  max-width: 100% !important;
}

.footerpromotions {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content horizontally within the container */
  flex-wrap: nowrap;
  align-items: center; /* Center content vertically within the container */
  text-align: center;
  width: 100%;
  max-width: 1100px;
  padding: 40px;
  height: auto;
  min-height: unset;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.4);

}
.positioningCardDescriptionHeading {
  text-align: center;
}

.positioningCardDescriptionHeadingLeft {
  text-align: left;
  padding: 0px 20px !important;
}

@media (max-width: 767px) { 
  .CTACard {
    flex-direction: column;
  }
  .CTACardContentsWidth {
    width: 350px;
    max-width: 100% !important;
  }
  /* dual compartment stacked layout*/

  .dualCompartmentContainerStackedLayoutContents {
    padding: 0px;
  }
  .dualCompartmentContainerCardGrid {
      flex-direction: column; /* Stack items vertically */
  }


  /* Description position */
  .positioningCardDescriptionHeadingLeft {
    padding: 0px 10px !important;
  }

  .dualCompartmentStackedLayout2 {
    align-items: center; /* Center items horizontally */
    text-align: center;
  }
}

.blurredBackground {
  background-color: rgba(0, 0, 0, 0.43);
}



/* dual compartment 60/40 */
.dualCompartmentContainer6040 {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 80px 0px;
}

.dualCompartmentContainerContents60 {
  width: 60%; /* 60% width */
  text-align: right; 
}

.dualCompartmentContainerContents40 {
  width: 40%; /* 40% width */
  display: flex;
  justify-content: center; /* Center image horizontally */
  align-items: center; 
}

@media (max-width: 767px) {
/* dual compartment 60/40 */
.dualCompartmentContainer6040 {
    flex-direction: column; /* Stack items on top of each other */
  }

  .dualCompartmentContainerContents60, .dualCompartmentContainerContents40 {
    width: 100%; /* Full width on mobile */
    text-align: center; /* Center text and image on mobile */
  }

  .dualCompartmentContainerContents60{
    text-align: center; /* Center text on mobile */
    margin-bottom: 20px; /* Optional: Add some space between the two sections */
  }
}


.promotionBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.promotionBanner2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;

}

.promotionBanner img {
  max-width: 300px;
  width: 100%;
  margin: 10px;
}


.promotionBanner2 img {
  max-width: 220px;
  width: 100%;
  margin: 10px;
}

@media (max-width: 768px) {
  .promotionBanner {
    flex-direction: column;
  }

  .promotionBanner img {
    margin: 10px 0;
  }
}


.playNowBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.playNowBanner img {
  max-width: 510px;
  width: 100%;
  margin: 10px;
}

.fishingGamesBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;

}

.fishingGamesBanner  img {
  max-width: 340px;
  width: 100%;
  margin: 10px;
}

/* Call To Action Pattern */
.callToAction1 {
  padding: 0px;
  flex-direction: column; 
  align-items: flex-start; 
}

/* logo carousel */

.logo-carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px; /* Space between images */
}

.logo-carousel2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10px; /* Space between images */
  padding-right: 40px;
}

.logo-carousel3 img {
  max-width: 150px;
  height: auto;
  flex: 1 1 100px; /* Flex-grow, flex-shrink, flex-basis */
}

.logo-carousel2 img {
  max-width: 40px;
  height: auto;
  flex: 1 1 100px; /* Flex-grow, flex-shrink, flex-basis */
}

.logo-carousel img {
  max-width: 120px;
  height: auto;
  flex: 1 1 100px; /* Flex-grow, flex-shrink, flex-basis */
}

@media (max-width: 768px) {
  .logo-carousel2 {
    justify-content: center;
    padding: 0px 400px;
  }
  .logo-carousel img {
      max-width: 100px;
      flex: 1 1 60px;
  }
  .logo-carousel2 img {
    max-width: 35px;
    height: auto;
    flex: 1 1 100px; /* Flex-grow, flex-shrink, flex-basis */
  }
  .logo-carousel3 img {
    max-width: 100px;
    height: auto;
    flex: 1 1 100px; /* Flex-grow, flex-shrink, flex-basis */
  }
}






/* headings */

.heading1 {
  font-family: 'Poppins';
  font-size: 40px;
  font-weight: 600;
  line-height: 64px;
  padding: 5px 0px;
}
.heading2 {
  font-family: 'Poppins';
  font-size: 32px;
  font-weight: 600;
  line-height: 64px;
  padding: 5px 0px;
}

.heading3 {
  font-family: 'Poppins';
  font-size: 28px;
  font-weight: 600;
  line-height: 40px;
  padding: 5px 0px;
}


.heading4 {
  font-family: 'Poppins';
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  padding: 5px 0px;
}

/* contents description */
.descriptions{
  font-family: 'Poppins';
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding: 5px 0px;
}
.descriptions2 {
  font-family: 'Poppins';
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  padding: 5px 0px;

}

.footerdescriptions2 {
  font-family: 'Poppins';
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  padding: 5px 0px;
}

.metadescriptions {
  font-family: 'Poppins';
  color: rgb(199, 191, 191);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 5px 0px;
}

.footermetadescriptions {
  font-family: 'Poppins';
  color: rgb(199, 191, 191);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding: 5px 0px;
}

@media screen and (max-width: 1024px) { 
  /* headings */
  .heading1 {
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    padding: 5px 0px;
  }
  .heading2 {
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: 600;
    line-height: 56px;
    padding: 5px 0px;
  }
  .heading3 {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    padding: 5px 0px;
  }
  .heading4 {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    padding: 5px 0px;
  }

/* contents description */
.descriptions{
  font-family: 'Poppins';
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding: 5px 0px;
}


.descriptions2 {
  font-family: 'Poppins';
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 5px 0px;

}
.footerdescriptions2 {
  font-family: 'Poppins';
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding: 5px 0px;
}
.metadescriptions {
  font-family: 'Poppins';
  color: rgb(199, 191, 191);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding: 5px 0px;
}
.footermetadescriptions {
  font-family: 'Poppins';
  color: rgb(199, 191, 191);
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  padding: 5px 0px;
}
}

@media (max-width: 767px) { 
  /* headings */
  .heading1 {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    padding: 5px 0px;
  }
  .heading2 {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    padding: 5px 0px;
  }
  .heading3 {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    padding: 5px 0px;
  }

  .heading4 {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    padding: 5px 0px;
  }

  /* contents description */
  .descriptions{
    font-family: 'Poppins';
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    padding: 5px 0px;
  }

.descriptions2 {
  font-family: 'Poppins';
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding: 5px 0px;

}
.footerdescriptions2 {
  font-family: 'Poppins';
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding: 5px 0px;
}
  .metadescriptions {
    font-family: 'Poppins';
    color: rgb(199, 191, 191);
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    padding: 5px 0px;
  }
}

/* CTA Button */

.ctaButton {
  border: 2px solid #B989BB;
  color: #FAEECB;
  background: linear-gradient(to top, #291E3D 0%, #5B246B 50%, #5B246B 100%);
  box-shadow: 0px 0px 3px 2px #90298B, 0px 0px 2px 2px #A1288A inset;
  border-radius: 17px;
  font-weight: 600;
  text-shadow: 0px 0px 5px #97358F;
  padding: 8px 24px;
  margin: 40px 0px;
  cursor: pointer;
  text-decoration: none;
}

.blogButton {
  cursor: pointer;
  text-decoration: none;
}

.secButton {
  text-align: center;
  background-color: rgb(189, 0, 255);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 1px;
  color: #fff;
  border: 2px solid rgb(189, 0, 255);
  border-radius: 5px;
  padding: 15px 30px;
  cursor: pointer;
  text-decoration: none;
}

.ctaButtonMes {
  margin: 0;
  padding: 0;  
  text-decoration: none;  
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1px;
  
  text-decoration: none;
  list-style: none;
}

.blogButtonMes {
  margin: 0;
  padding: 0;  
  text-decoration: none;  
  font-size: 14px;
  font-weight: bold !important;
  line-height: 1;
  letter-spacing: 1px;
  

  color: #BD00FF;  
  text-decoration: none;
  list-style: none;

}

@media (max-width: 768px) { 
  .blogButtonMes {
    font-size: 12px;
  }
}
.descriptionsSpacing {
  margin: 20px 0px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 20px 40px;
  margin: 0px;
  background-color: #121212;
}

.solidDivider {
  margin: 20px 0px;
  height: 2px;
  width: 90%;
  background-color: #FF00E6 !important;  
}

@media (max-width: 768px) { 
  footer {
    padding: 10px 10px;
  }
  .solidDivider {
    width: 100%;
  }
  
}

.singleCompartmentContainer2 {
  display: flex;
  justify-content: space-between; /* Space between elements */
  flex-wrap: nowrap; /* Prevent wrapping until mobile screen size */
  padding: 10px; /* Add padding around the container */
}

.childElement {
  flex: 1; /* Make each child element take equal space */
  text-align: left; /* Align text to the left */
  margin: 5px; /* Space between child elements */
  padding: 10px; /* Add padding inside each element */
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

@media (max-width: 768px) {
  .singleCompartmentContainer2 {
    flex-wrap: wrap; /* Allow wrapping on mobile */
  }

  .childElement {
    flex: 1 1 100%; /* Each element takes full width on mobile */
    margin-bottom: 10px; /* Add space between wrapped items */
    text-align: center; /* Align text to the left */
  }
}

